.home-container {
	position: relative;
	width: 100vw;
	height: 100vh;

	.logo-container {
		position: absolute;
		z-index: 100;
		color: $impact-color-red;
		bottom: -2vh !important;
		left: 85vw;
		font-size: 70px;
		font-family: $impact-font-koulen;

		.logo {
			cursor: pointer;
		}
	}

	.dropdown-toggle {
		float: right;
		color: $impact-color-red !important;
		font-family: $impact-font-dancing-script;
		background-color: transparent !important;
		font-size: 28px !important;
		border: none !important;
		box-shadow: none !important;
		margin-top: -105px;
		&::after {
			margin-left: 10px;
			margin-top: 20px;
		}
	}

	.phantom-login-label {
		float: right;
		background-color: black !important;
		font-family: $impact-font-dancing-script;
		font-size: 22px !important;
		color: $impact-color-red !important;
		margin-top: 30px;
	}

	.phantom-login-label-hover:hover {
		cursor: pointer;
	}

	.front-text-container {
		display: flex;
		justify-content: center;
		align-items: center;

		.front-text-label {
			top: 30%;
			font-family: $impact-font-koulen;
			color: white;
			text-shadow: 5px 2px 0px black;
			font-size: 65px;
		}
	}

	.language-label {
		position: absolute;
		color: $impact-color-yellow;
		right: 0px;
		padding-right: 30px;
		margin-top: 32vh;
		border-bottom: 1px solid $impact-color-yellow;
		cursor: pointer;
	}

	.video-div {
		float: right;
		margin-top: 47vh;
		width: 30%;
		height: 30%;
		max-width: 350px;
		video {
			width: 100%;
			height: 100%;
		}
	}
}

.Menu__ContainerBox-sc {
	font-family: $impact-font-dancing-script;
	background-color: $impact-color-red !important;
}
