.content {
	width: 100%;

	.input {
		width: 12vw !important;
		height: 3.3vh;
		margin-right: 37vw;

		&:first-child {
			margin-top: 60px;
		}
	}

	.signup-form {
		display: inline-block;
		justify-content: center;
		width: 12vw !important;

		.name-input {
			@extend .input;
		}

		.password-input {
			@extend .input;

			position: relative;
			top: 5px !important;
		}

		.error-input {
			margin-bottom: 6px;

			&:first-child {
				margin-bottom: -11px;
			}
		}

		.submit-button {
			height: 4vh;
			float: right;
		}

		.text-danger {
			position: relative;
			font-size: 7px;
			line-height: 9px;
			top: 4px;
			color: #dc3545;
		}

		.submit-btn {
			position: relative;
			top: 10px;
			height: 3.3vh;
			display: flex;
			justify-content: center;
			align-items: center;
			float: right;
			background-color: $impact-color-light-pink !important;
			color: rgb(236, 228, 228);
			border-color: $impact-color-light-purple !important;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}
