.content {
	width: 100%;

	.input {
		width: 12vw !important;
		height: 3.3vh;
		margin-right: 37vw;
		margin-bottom: 10px;

		&:first-child {
			margin-top: 60px;
		}
	}

	.signup-form {
		display: inline-block;
		justify-content: center;
		width: 12vw !important;

		.name-input {
			@extend .input;
		}

		.email-input {
			@extend .input;
		}

		.submit-button {
			height: 4vh;
			float: right;
		}

		.submit-btn {
			position: relative;
			height: 3.3vh;
			display: flex;
			justify-content: center;
			align-items: center;
			float: right;
			background-color: $impact-color-light-pink !important;
			color: rgb(236, 228, 228);
			border-color: $impact-color-light-purple !important;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}
