@import './variables.scss';
@import './fonts.scss';
@import './Home/home.scss';
@import './Authorization/registration.scss';
@import './WhitePaper/whitePaper.scss';

body {
	// padding: 20px 60px;
	height: 100vh;
	margin: auto !important;
	background-position: right 100px !important;
	// background-color: #3a3b3c !important;
	// background-image: radial-gradient(circle closest-side, #0d0d33 171.2%, #957dad 254.8%);
	overflow-y: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
