@import './variables.scss';
@import './fonts.scss';
@import './home/home.scss';

body {
	padding: 20px 60px;
	height: 100vh;
	margin: auto !important;
	max-width: 1350px;
	background: url('../asset/fireBackground.BMP') no-repeat center center fixed;
	background-position: right 100px !important;
	background-color: black !important;
	background-size: cover;
	overflow-y: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
