// Fonts
$impact-font-koulen: 'Koulen', cursive;
$impact-font-dancing-script: 'Dancing Script', cursive;

// Colors
$impact-color-red: #f61b04;
$impact-color-orange: #fd6a02;
$impact-color-yellow: #ffd300;
