// Fonts
$impact-font-koulen: 'Koulen', cursive;
$impact-font-dancing-script: 'Dancing Script', cursive;
$impact-font-inter: 'Inter', sans-serif;

// Colors
$impact-color-red: #f61b04;
$impact-color-orange: #fd6a02;
$impact-color-yellow: #ffd300;
$impact-color-light-purple: #bcb2ff;
$impact-color-light-pink: #d936b3;

// WhitePaper
$impact-white-list-content-container-font-size: 67px;
$impact-white-list-content-container-width: 2000px;
$impact-white-list-content-container-height: 1300px;
$impact-white-paper-intro-label-line-height: 95px;
$impact-white-paper-intro-label-font-size: 90px;
